<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jstorm-0.9.6.2_all/jstorm-server/java/backtype/storm/LocalCluster.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="backtype.storm.LocalCluster"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jstorm-0.9.6.2_all"/>
</launchConfiguration>
